{% extends "core/large.html" %}
{% load i18n %}

{% block page_content %}
<div class="columns is-vcentered is-8">
    {% if request.site.sitecustomization.image %}
    <div class="column is-offset-2 is-6 has-text-centered">
        <figure class="image">
            <img src="{{ request.site.sitecustomization.image.url }}" alt="{{ request.site.name }}">
        </figure>
    </div>
    <div class="column is-4">
    {% else %}
    <div class="is-offset-4 column is-6">
    {% endif %}
        <h1 class="title">{{ request.site.name }}</h1>
        <p class="subtitle">{{ request.site.sitecustomization.tagline }}</p>
        <div class="content">
            {{ request.site.sitecustomization.description|safe }}
        </div>
        {% if not user.is_authenticated %}
        {% include "accounts/buttons/login.html" %}
        {% endif %}
    </div>
</div>
{% endblock page_content %}
