{% load i18n %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            {% if codebase_info %}
            <a href="{{ codebase_info.repo_url }}">
                <span class="icon">
                    <i class="{{ codebase_info.icon }}"></i>
                </span>
                {{ codebase_info.repo_name }}
            </a>
            {% trans 'by' %}
            <a href="{{ codebase_info.team_url }}">{{ codebase_info.team_name }}</a>
            {% trans 'and' %}
            <a href="{{ codebase_info.contributors_url }}">{% trans 'many contributors' %}</a>.
            {% trans 'The source code is licensed' %}
            <a href="{{ codebase_info.licence_url }}">{{ codebase_info.licence_name }}</a>.
            {% endif %}
        </p>
    </div>
</footer>
