<div class="box modal-button" data-target="{{ image.id }}">
    <figure class="image">
        <img src="{{ image.picture.url }}" alt="{{ image.alt }}" title="{{ image.alt }}">
        <figcaption class="mt-3 has-text-centered is-italic">{{ image.caption }}</figcaption>
    </figure>
</div>
{% include 'publications/images/modal.html' %}
