{% extends "account/base.html" %}
{% load i18n %}

{% block messages %}
{% if user.get_avatar_url %}
<div class="block">
    <figure class="image">
        <img class="is-rounded" src="{{ user.get_avatar_url }}">
    </figure>
</div>
{% endif %}
{{ block.super }}
{% if not "description" in object.metadata %}
<div class="message is-info">
    <div class="message-header">
        <span>
            <i class="fas fa-info-circle"></i>
            {% trans 'Info' %}
        </span>
        <button class="delete"></button>
    </div>
    <div class="message-body">
        <p class="block">
            {% blocktranslate %}You can add a short description with the following keyword at the top of your text:{% endblocktranslate %}
        </p>
        <pre class="block">description: ...</pre>
    </div>
</div>
{% endif %}
{% if not "tag" in object.metadata %}
<div class="message is-info">
    <div class="message-header">
        <span>
            <i class="fas fa-info-circle"></i>
            {% trans 'Info' %}
        </span>
        <button class="delete"></button>
    </div>
    <div class="message-body">
        <p class="block">
            {% blocktranslate %}You can add some tags with the following keywords at the top of your text:{% endblocktranslate %}
        </p>
        <pre class="block">tag: ...
tag: ...</pre>
    </div>
</div>
{% endif %}
{% endblock messages %}

{% block main_menu %}
{{ block.super }}
{% include 'accounts/menus/items/main.html' %}
{% endblock main_menu %}

{% block content %}
<h1 class="title">{% trans 'Change my profile' %}</h1>
<p class="subtitle">@{{ object.username }}</p>

{% include 'core/tags/main.html' %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% include "core/forms/bulma.html" %}

    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">{% trans "Save" %}</button>
        </div>
    </div>
</form>
{% endblock %}
