@charset "utf-8";

// Colors
// @import "./cosmo.scss";
// @import "./cyborg.scss";
// @import "./flatly.scss";
@import "./sandstone.scss";
// @import "./united.scss";
// @import "./vapor.scss";

// Typography
@import "./typography.scss";

// Miscellaneous
$radius-small: 1px; // 2px;
$radius: 2px; // 4px;
$radius-large: 3px; // 6px;
$radius-rounded: 9999px;

@import "~bulma/bulma.sass";
