@charset "utf-8";

// Linéales

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Light Italic';
    src: url("../fonts/Roboto-LightItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url("../fonts/RobotoMono-Regular.ttf") format('truetype');
}

$family-lineale-roboto:         "Roboto", sans-serif;
$family-lineale-roboto-italic:  "Roboto Light Italic", sans-serif;
$family-lineale-roboto-mono:    "Roboto Mono", monospace;

// Garaldes

@font-face {
    font-family: 'EB Garamond';
    src: url("../fonts/EBGaramond-Regular.ttf") format('truetype');
}

$family-garalde-garamond:       "Garamond", "EB Garamond", serif;


// Réales

@font-face {
    font-family: 'Libre Baskerville';
    src: url("../fonts/LibreBaskerville-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville Italic';
    src: url("../fonts/LibreBaskerville-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville Bold';
    src: url("../fonts/LibreBaskerville-Bold.ttf") format('truetype');
}

$family-reale-baskerville:      "Libre Baskerville", serif;
$family-reale-baskerville-italic:      "Libre Baskerville Italic", serif;
$family-reale-baskerville-bold: "Libre Baskerville Bold", serif;


// base/generic.sass
$body-family:           $family-lineale-roboto; // $family-primary
$code-family:           $family-lineale-roboto-mono; // $family-code;

// elements/title.sass
$title-family:          $family-lineale-roboto; // false
$subtitle-family:       $family-lineale-roboto; // false

// elements/button.sass
$button-family:         $family-lineale-roboto; // false

// helpers/typography.sass
$family-sans-serif:     $family-lineale-roboto; // BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace:      $family-lineale-roboto-mono; // monospace;
$family-primary:        $family-reale-baskerville; // $family-sans-serif;
$family-secondary:      $family-garalde-garamond; // $family-sans-serif;
$family-code:           $family-lineale-roboto-mono; // $family-monospace
