<div class="card">
    <div class="card-content">
        {% include 'publications/elements/headline.html' %}

        {% include 'publications/images/3by2.html' with image=object %}

        {% include 'publications/elements/tags.html' %}

        {% include 'publications/elements/info.html' %}
    </div>
</div>
