{% extends "core/large.html" %}
{% load i18n %}
{% load static %}

{% block head_js %}
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head_js %}


{% block page_content %}
    <h1 class="title">My Lab Book</h1>
    <div class="container">
        <div id="editorjs"></div>
        
    </div>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock page_content %}

{% block main_menu %}
    <button  onclick="SaveBlocks()" class="button is-primary">Save</button>
{% endblock main_menu %}