{% if page_obj.has_other_pages %}
<div>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if page_obj.has_previous %}
        <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}&type={{ object.type }}&sort={{ object.sort }}">Previous</a>
        {% else %}
        <a class="pagination-previous" disabled>Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a class="pagination-next" href="?page={{ page_obj.next_page_number }}&type={{ object.type }}&sort={{ object.sort }}">Next page</a>
        {% else %}
        <a class="pagination-next" disabled>Next page</a>
        {% endif %}

        <ul class="pagination-list">
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li><a class="pagination-link is-current" href="?page={{ i }}&type={{ object.type }}&sort={{ object.sort }}" aria-label="Page {{ i }}" aria-current="page">{{ i }}</a></li>
            {% else %}
            <li><a class="pagination-link" href="?page={{ i }}&type={{ object.type }}&sort={{ object.sort }}" aria-label="Goto page {{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
{% endif %}
