{% load i18n %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/myworkshopproject/myworkshop">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>My Workshop</span>
            </a>
            {% trans 'by' %}
            <a href="https://github.com/jlebunetel">Julien Lebunetel</a>
            {% trans 'and' %}
            <a href="https://github.com/myworkshopproject/myworkshop/graphs/contributors">{% trans 'many contributors' %}</a>.
            <br>
            {% trans 'Source code is licensed' %} <a href="https://github.com/myworkshopproject/myworkshop/blob/main/LICENSE">MIT</a>.
            <br>
            {% trans 'Website content is licensed' %} <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
        </p>
    </div>
</footer>
