<div class="block">
    <h2 class="title">
        <a class="has-text-dark" href="{{ object.get_absolute_url }}">
            <span class="icon">
                <i class="{{ object.icon }}"></i>
            </span>
            <span class="ml-2">{{ object.title }}</span>
        </a>
    </h2>
    <p class="subtitle">{{ object.description }}</p>
</div>
