{% extends "core/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block robots %}
<meta name="robots" content="all, index, follow">
{% endblock robots %}

{% block page_css %}
{% render_bundle 'home' 'css' %}
{% endblock page_css %}

{% block page_js %}
{% render_bundle 'home' 'js' %}
{% endblock page_js %}

{% block page_content %}
<div class="columns">
    <div class="column is-2">
        <div class="content sticky">
            <br>
            <p class="has-text-weight-bold">{% translate 'Table of Contents' %}</p>
            {{ object.toc|safe }}
        </div>
    </div>

    <div class="column is-6 is-offset-1">
        {% include 'publications/elements/headline.html' %}

        {% include 'publications/elements/tags.html' %}

        {% include 'publications/elements/info.html' %}

        {% if object.featured_image %}
        {% include 'publications/images/box.html' with image=object.featured_image %}
        {% else %}
        <hr>
        {% endif %}

        <div class="content">{{ object.html|safe }}</div>
    </div>

    <div class="column is-1 is-offset-2">
        <div class="sticky">
            <br>
            <a href="#">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </span>
                    <span>{% translate 'Top' %}</span>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock page_content %}
