{% extends "core/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
{% render_bundle 'home' 'css' %}
{% endblock page_css %}

{% block page_js %}
{% render_bundle 'home' 'js' %}
{% endblock page_js %}

{% block page_content %}
<div class="columns">
    <div class="column is-6 is-offset-3">
        {% include 'publications/elements/headline.html' %}

        <form method="post">
            {% csrf_token %}

            {% include "core/forms/bulma.html" %}

            <div class="message is-danger">
                <div class="message-body">
                    {% translate "Are you sure you want to delete this publication?" %}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-danger" type="submit">{% translate "Confirm" %}</button>
                    <a href="{{ object.get_cancel_url }}" class="button is-ghost">{% translate "Cancel" %}</a>
                </div>
            </div>
        </form>
    </div>

    <div class="column is-1 is-offset-2">
        <div class="sticky">
            <br>
            <a href="#">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </span>
                    <span>{% translate 'Top' %}</span>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock page_content %}
